QvodAndroidDownloader/bin/*.*
QvodAndroidDownloader_Demo/bin/*.*
QvodAndroidDownloader_Demo/bin/*/*.*
QvodAndroidDownloader_Demo/bin/*/*/*.*
QvodAndroidDownloader_Demo/bin/*/*/*/*.*
QvodAndroidDownloader_Demo/.apt_generated/*/*/*/*